* {
    margin: 0;
    padding: 0;
}

/* Navbar Section  */

#navbar {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    top: 0;
}

/* Navigation Bar: Logo and Image  */

#navbar {
    display: flex;
    position: fixed;
    align-items: center;
}



#navbar::after {
    top: 0;
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 2500px;
    z-index: -1;
    opacity: 0.5;
    transition: 1s;
}


#logo {
    margin: 10px 34px;
}

#logo img {
    top: 0;
    height: 59px;
    margin: 3px 6px;
}

#logo p {
    color: white;
    margin-left: 10px;
    margin-top: -10px;

}

/* Navigation Bar: List Styling */
#navbar ul {
    display: flex;
    font-family: 'Poppins', sans-serif;
}

#chefery {
    font-family: 'Poppins', sans-serif;
}


#navbar ul li {
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;


}

#navbar ul li a {
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}


/* Signup Section  */
#Create {
    text-align: center;
}

#forms {
    margin: 20px;

}

#signupform legend {
    margin: auto;
    font-size: 20px;
}

#formdata {
    margin: 20px;
}

input[type=text] {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=number] {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=email] {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=password] {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#signupform {
    color: white;
}

#signupform::before {
    content: "";
    background: url('Img/newaccount.jpg') no-repeat center center/cover;
    position: absolute;
    height: 160%;
    width: 100%;
    z-index: -1;
    top: 0px;
}

#signupform::after {
    content: "";
    background-color: black;
    position: absolute;
    height: 160%;
    width: 100%;
    z-index: -1;
    top: 0px;
    opacity: 0.5;
}

/* Sub Classes */
.h-primary {
    font-size: 3.8rem;
    padding: 12px;
}

/* Arranging buttons */

#signupbtns {
    display: flex;
    justify-content: center;
}

input[type="submit"] {
    background-color: #0BDA51;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
}

input[type="submit"]:hover {
    display: inline-block;
    transform: scale(1.1);
}

.center {
    text-align: center;
}

#signup {
    cursor: pointer;
}